body {
	font-family: sans-serif;
	text-align: center;
}

.source a {
	text-decoration: none;
}

.controls {
	font-family: monospace;
	font-size: 1.5em;
	margin: 30px 0 10px 0;
}

.footer {
	max-width: 850px;
	margin: 20px auto;
	font-size: 0.8em;
}